.App {
  text-align: center;
  background-color: #f90;
  width: 100vw;
  height: 100vh;
  font-size: 6vw;
}

button {
  background-color: #06f;
  border: none;
  font-size: 6vw;
  padding: 10px 4vw;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

button:hover {
  background-color: #08f;
}

button:active {
  background-color: black;
  color: #08f;
}